DEMO_NAME=text-diffusion-lab
DEMO_MODE=development

FRONTEND_HOST=127.0.0.1
FRONTEND_PORT=3300

BACKEND_HOST=127.0.0.1
BACKEND_PORT=8300
BACKEND_URL=http://127.0.0.1:8300

MODEL_ADAPTER_URL=http://127.0.0.1:8600
REPLAY_SERVICE_URL=http://127.0.0.1:8700
